* { margin: 0; padding: 0; font-family: Arial, Helvetica, sans-serif; font-size: 14px }
#site { width: 100%; margin: 20px auto 0 auto }
fieldset { border: 0 }
legend { font-weight: bold; margin-bottom: 10px }
label { display: block; margin-bottom: 2px }
form div { margin-bottom: 10px }
h1 { text-align: center; font-size: 18px }
input { width: 500px; padding: 5px }
input[type=submit] { padding: 5px 10px; width: auto }
form { margin-bottom: 20px }
#mapa { width: 100%; height: 800px; float: left }
#trajeto-texto { width: 300px; height: 400px; float: right; overflow: scroll }

.checkbox-container{
	float:left;
}

.checkbox-container input{
	margin: 0 auto;
}

#container {
	float:center;
	width:400px;
	height:100px;
	background:#ccc;
	}
	
html, body, #map-canvas{height:100%; margin:0;padding:0;float:center;}
#boxRotas{float:left;}